
<nav class="navbar">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <button type="button" class="btn">Home</button>
        </NavLink>
    </div>


    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img src="/images/LogoClemyRd.jpg" class="logo" alt="Logo" href="#">
        </NavLink>
    </div>


    <div class="nav-item px-3">
        <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
            <button type="button" class="btn">Login</button>
        </NavLink>
    </div>


</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
