<nav class="navbar">


    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <button type="button" class="btn"><h2>Home</h2></button>
    </NavLink>



    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <img src="/images/LogoClemyRd.jpg" class="logo" alt="Logo" href="#">
    </NavLink>



    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <button type="button" class="btn"><h2>Login</h2></button>
    </NavLink>

</nav>